<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- Configuración de Usuario -->
    <bean id="beanUsuario" class="frgp.utn.edu.ar.entidad.Usuario" scope="prototype"/>
    <bean id="beanUsuarioController" class="frgp.utn.edu.ar.daoImp.DaoUsuario" scope="singleton"/>
    <bean id="beanUsuarioNegocio" class="frgp.utn.edu.ar.negocioImp.usuarioNegocio" scope="singleton">
        <property name="usuarioController" ref="beanUsuarioController"/>
    </bean>

    <!-- Configuración de Especialidad -->
    <bean id="beanEspecialidad" class="frgp.utn.edu.ar.entidad.Especialidad" scope="prototype">
        <constructor-arg index="0" type="String" value="Clinico"/>
        <constructor-arg index="1" type="boolean" value="true"/>
    </bean>

    <!-- Configuración de Usuario para Médico -->
    <bean id="beanUsuarioParaMedico" class="frgp.utn.edu.ar.entidad.Usuario" scope="singleton">
        <constructor-arg index="0" type="String" value="User1"/>
        <constructor-arg index="1" type="String" value="123123"/>
        <constructor-arg index="2" type="boolean" value="true"/>
    </bean>

    <!-- Configuración de Médico -->
    <bean id="beanMedico" class="frgp.utn.edu.ar.entidad.Medico" scope="prototype">
        <constructor-arg index="0" type="int" value="1234"/>
        <constructor-arg index="1" type="String" value="Gonzalo"/>
        <constructor-arg index="2" type="String" value="Alderete"/>
        <constructor-arg index="3" type="String" value="Masculino"/>
        <constructor-arg index="4" type="String" value="12/02/1996"/>
        <constructor-arg index="5" type="String" value="gonzalo@prueba.com"/>
        <constructor-arg index="6" type="String" value="falsa 111"/>
        <constructor-arg index="7" type="String" value="Pacheco"/>
        <constructor-arg index="8" type="String" value="11-12229"/>
        <constructor-arg index="9" ref="beanUsuarioParaMedico"/>
        <constructor-arg index="10" ref="beanEspecialidad"/>
        <constructor-arg index="11" type="boolean" value="true"/>
        <constructor-arg index="12" type="String" value="Lunes,Jueves"/>
        <constructor-arg index="13" type="String" value="16:00-23:00"/>
    </bean>

    <bean id="beanMedicoController" class="frgp.utn.edu.ar.daoImp.DaoMedico" scope="singleton"/>
    <bean id="beanMedicoNegocio" class="frgp.utn.edu.ar.negocioImp.medicoNegocio" scope="singleton">
        <property name="daoMedico" ref="beanMedicoController"/>
    </bean>

    <!-- Configuración de Paciente -->
    <bean id="beanPaciente" class="frgp.utn.edu.ar.entidad.Paciente" scope="prototype"/>
    <bean id="beanPacienteController" class="frgp.utn.edu.ar.daoImp.DaoPaciente" scope="singleton"/>
    <bean id="beanPacienteNegocio" class="frgp.utn.edu.ar.negocioImp.pacienteNegocio" scope="singleton">
        <property name="daoPaciente" ref="beanPacienteController"/>
    </bean>

    <!-- Configuración de Especialidades -->
    <bean id="beanEspecialidadController" class="frgp.utn.edu.ar.daoImp.DaoEspecialidad" scope="singleton"/>
    <bean id="beanEspecialidadNegocio" class="frgp.utn.edu.ar.negocioImp.especialidadNegocio" scope="singleton">
        <property name="daoEspecialidad" ref="beanEspecialidadController"/>
    </bean>

    <!-- Configuración de Turnos -->
    <bean id="beanTurno" class="frgp.utn.edu.ar.entidad.Turno" scope="prototype"/>
    <bean id="beanTurnoController" class="frgp.utn.edu.ar.daoImp.DaoTurno" scope="singleton"/>
    <bean id="beanTurnoNegocio" class="frgp.utn.edu.ar.negocioImp.turnoNegocio" scope="singleton">
        <property name="daoTurno" ref="beanTurnoController"/>
    </bean>

</beans>